.main {
  gap: 4rem;
  padding: 0 clamp(1.25rem, -0.661407767rem + 8.7378640777vw, 12.5rem);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.cancel-btn,
.btns .btn {
  padding: 10px 20px;
  background-color: #ffffff;
  font-family: "Urbanist", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 10px;
  transition: 0.25s;
}
.btns .btn.active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.cancel-btn:hover,
.btns .btn:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
